# Dependencies
node_modules/
client/node_modules/
server/target/
.expo/
client/.expo/

# IDE
.vscode/
.idea/

# Local / Uploads
server/uploads/*
!server/uploads/.gitkeep

# Logs
*.log

# System
.DS_Store
Thumbs.db
